* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color-1: #0c4a6e;
  --bg-color-2: #fafaf9;
  --bg-color-3: #b45309;
  --font-color-1: #075985;
  --font-color-2: #fafaf9;
  --font-color-3: #b45309;
}

body {
  background-color: var(--bg-color-1);
}

a {
  text-decoration: none;
  color: initial;
}

.login-big-box {
  margin: 200px auto;
  background-color: var(--bg-color-2);
  color: var(--font-color-1);
  width: 60vw;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.login-header {
  text-align: center;
  padding: 20px;
}

.login-header h4 {
  color: var(--font-color-3);
}

.login-button {
  text-align: center;
  padding: 20px;
}

.login-button button {
  min-width: 150px;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: var(--bg-color-3);
  color: var(--font-color-2);
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.header-container {
  max-height: 10vh;
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color-2);
  padding: 20px 40px;
}

.header-navbar h4 {
  color: var(--font-color-1);
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.search-bar button {
  margin-left: 10px;
}

.user-details button {
  margin-left: 10px;
}

.myfavourites-box {
  padding: 20px;
}

.myfavourites-header {
  text-align: center;
  color: var(--font-color-2);
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.myfavourites-item li {
  list-style: none;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: var(--bg-color-2);
  font-weight: 500;
  cursor: pointer;
}

.myfavourites-item li a {
  text-decoration: none;
  color: var(--font-color-3);
}

.clear-btn {
  text-align: center;
}

.clear-btn button {
  cursor: pointer;
}

.result-container {
  padding: 20px;
}

.text-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 100px;
}

@media only screen and (min-width: 1024px ) {
  
  .left-panel-container {
    position: sticky;
    top: 0px;
    left: 0px;
  }
}

@media only screen and (max-width: 768px ) {

  .header-navbar {
    padding: 10px 20px;
  }

  .header-navbar h4 {
    transform: scale(0.9);
  }

  .header-navbar .search-bar {
    transform: scale(0.9);
  }

  .user-details {
    transform: scale(0.9);
  }

  .myfavourites-box {
    max-height: 50vw;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 425px ) {

  .header-container {
    min-height: 15vh;
  }
  .header-navbar {
    padding: 15px;
    display: block;
    text-align: center;
  }
  
  .header-navbar .search-bar {
    padding: 10px 0;
    transform: scale(0.9);
  }

  .user-details {
    transform: scale(0.9);
  }

  .myfavourites-box {
    padding: 10px 20px;
    max-height: 30vh;
    overflow-y: scroll;
  }
}