* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color-1: #0c4a6e;
  --bg-color-2: #fafaf9;
  --bg-color-3: #b45309;
  --font-color-1: #075985;
  --font-color-2: #fafaf9;
  --font-color-3: #b45309;
}

body {
  background-color: var(--bg-color-1);
}

a {
  text-decoration: none;
  color: initial;
}

.login-big-box {
  margin: 200px auto;
  background-color: var(--bg-color-2);
  color: var(--font-color-1);
  width: 60vw;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.login-header {
  text-align: center;
  padding: 20px;
}

.login-header h4 {
  color: var(--font-color-3);
}

.login-button {
  text-align: center;
  padding: 20px;
}

.login-button button {
  min-width: 150px;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: var(--bg-color-3);
  color: var(--font-color-2);
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color-2);
  padding: 20px 60px;
  max-height: 100px;
}

.header-navbar h4 {
  color: var(--font-color-1);
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.search-bar button {
  margin-left: 10px;
}

.user-details button {
  margin-left: 10px;
}

.myfavourites-box {
  padding: 20px;
}

.myfavourites-header {
  text-align: center;
  color: var(--font-color-2);
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.myfavourites-item li {
  list-style: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: var(--bg-color-2);
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
}

.myfavourites-item li a {
  text-decoration: none;
  color: var(--font-color-3);
}

.clear-btn {
  text-align: center;
}

.clear-btn button {
  cursor: pointer;
}

.result-container {
  padding: 20px;
}

.text-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
